<?xml version="1.0" encoding="UTF-8"?>
<settings
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd"
	xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<localRepository>/home/jenkins/agent/workspace/repository</localRepository>   
	<profiles>
		<profile>
			<id>artifactory</id>
			<repositories>
				<repository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>maven-releases</id>
					<name>maven-releases</name>
					<url>http://nexus.rdev.tech/repository/maven-releases</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<id>maven-releases</id>
					<name>maven-releases</name>
					<url>http://nexus.rdev.tech/repository/maven-releases</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>artifactory</activeProfile>
	</activeProfiles>
	<mirrors>
<!--   <mirror>
    <id>alimaven</id>
    <mirrorOf>central</mirrorOf>
    <name>aliyun maven</name>
    <url>http://maven.aliyun.com/nexus/content/groups/public/</url>
  </mirror> -->
  </mirrors>
	<servers>
        <server>
            <id>nexus</id>
            <username>admin</username>
            <password>abc123B,</password>
        </server>
        <server>
            <id>nexus</id>
            <username>admin</username>
            <password>abc123B,</password>
        </server>
	</servers>
	




</settings>
